body{
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0093E9 0%, #80D0C7 100%);
    height: 1080px;

}
#root{
    display: flex;
    justify-content: center;
    position: relative;
    
    
}